header{
text-align: center;
}

h1{
    color:aqua
}



table,th,td{
    text-align: left;
    margin: auto;
    border: 1px solid aqua;
    font-family:Georgia, 'Times New Roman', Times, serif;

    
}

table{
    width: 58%;
    height: 180px;
    box-shadow: 10px 10px 5px 5px aquamarine;
}

th{
    background-color: aqua;
}

a{
    display:block;
    color:brown;
    font-size: 20px;
}


.lien{
margin-top: 30px;
}